body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

* {
    user-select: none;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
}

.timer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.timer__spans {
    font-size: 54px;
    background-color: aliceblue;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.timer__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.timer__btns button {
    font-size: 20px;
    padding: 12px 24px;
}

.timer__btns button:hover {
    transform: scale(1.2);
}

.timer__btns button:nth-child(1) {
    background-color: greenyellow;
}

.timer__btns button:nth-child(2) {
    background-color: aqua;
}

.timer__btns button:nth-child(3) {
    background-color: red;
}

@media screen and (max-width: 400px) {
    .timer__spans span {
        font-size: 17px;
    }
    .timer__btns button {
        font-size: 14px;
    }
    .timer__btns button:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 300px) {
    .timer__btns button {
        padding: 8px 12px;
    }
}
